/* STORY CSS START */
#story{
    margin: 70px 0;
  }
  .story-text h3{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #413d4b;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .story-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #413d4b;
    font-weight: 300;
    line-height: 24px;
  }
  .story-text p span{
    display: block;
    margin-top: 30px;
  }
  .story-btn a{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400px;
    border: 1px solid #00decf;
    padding: 13px 14px 14px 15px;
    margin-top: 31px;
  }
  /* STORY CSS END */