/* TEAM CSS START */
#team{
    background: url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 68px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
  }
  #team:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(9, 5, 47, 0.85),rgba(49, 29, 94, 0.85));
    z-index: -1;
  }
  .team-top-text h3{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 15px;
  }
  .team-top-text p{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    margin-bottom: 67px;
  }
  .team-top-text p:after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #655d80;
    transform: translateX(-50%);
  }
  .team-img img{
    width: 100%;
  }
  .team-text{
    border: 1px solid #e6e5e8;
    padding: 22px 60px 24px 62px;
  }
  .team-text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
  }
  .team-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fafafa;
    font-weight: 300;
    margin-top: 12px;
  }
  .team-bottom-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 300;
    padding-top: 68px;
  }
  .team-btn a{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400px;
    border: 1px solid #00decf;
    padding: 13px 14px 14px 15px;
    margin-top: 28px;
  }
  /* TEAM CSS END */