#main_menu {
  border-bottom: 1px solid #fec600;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: black;
  
  ul{
      li{
          margin-left: 33px;
          a{
              font-size: 16px;
              font-weight: 400;
              font-family: 'Open Sans', sans-serif;
              color: #ffffff;
              position: relative;
              padding: 40px 0 !important;
              &:hover{
                  color: #fec600;
              }
                &::after{
                  content: '';
                  width: 0;
                  height: 2px;
                  background-color: #fec600;
                  position: absolute;
                  left: 0;
                  bottom: -8px;
                  transition: .4s;
                  
                }
                &:hover::after{
                   width: 100%;
                }
              
          }
      }
  }
}
.nav-scroll{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
