/* WORKS CSS START */
.work-btn a{
    font-family: 'myriad-reguler';
    font-size: 16px;
    color: #413d4b;
    border: 1px solid #dddddd;
    padding: 10px 9px 9px;
    margin-right: 10px;
  }
  .work-btn a:last-child{
    margin-right: 0;
  }
  .work-bg-top{
    display: flex;
    margin-top: 50px;
  }
  .work-top1{
    width: 16.66%;
    height: 200px;
    background: #b6b6b6;
  }
  .work-top2{
    width: 16.66%;
    height: 200px;
    background: #acacac;
  }
  .work-top3{
    width: 16.66%;
    height: 200px;
    background: #a1a1a1;
  }
  .work-top4{
    width: 16.66%;
    height: 200px;
    background: #8a8a8a;
  }
  .work-top5{
    width: 16.66%;
    height: 200px;
    background: #b6b6b6;
  }
  .work-top6{
    width: 16.66%;
    height: 200px;
    background: #a4a4a4;
  }
  .work-bg-bottom{
    display: flex;
  }
  .work-bottom1{
    width: 16.66%;
    height: 200px;
    background: #a4a4a4;
  }
  .work-bottom2{
    width: 16.66%;
    height: 200px;
    background: #b6b6b6;
  }
  .work-bottom3{
    width: 16.66%;
    height: 200px;
    background: #8a8a8a;
  }
  .work-bottom4{
    width: 16.66%;
    height: 200px;
    background: #a1a1a1;
  }
  .work-bottom5{
    width: 16.66%;
    height: 200px;
    background: #acacac;
  }
  .work-bottom6{
    width: 16.66%;
    height: 200px;
    background: #b6b6b6;
  }
  .work-bottom-btn a{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400px;
    border: 1px solid #00decf;
    padding: 13px 14px 14px 15px;
    margin: 70px 0;
  }
  /* WORKS CSS END */